.primary-btn2 {
	display: inline-block;
	background: #0cb821;
	padding:0.1vw 1.4vw;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 34px;
	border-radius: 30px;
	border: 1px solid transparent;
	outline: none !important;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
  @include transition();
  &:hover {
    background: #000000;
    color: #fff;
  }
}
.white_bg_btn {
  background: #fff;
  display: inline-block;
  color: $title-color;
  line-height: 40px;
  padding:0.1vw 1.4vw;
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 500;
  text-transform: uppercase;
  @include transition;
  border: none;
  &:hover {
    background: $base-color;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .white_bg_btn,
  .primary-btn2{
    font-size: 12px;
    line-height: 20px;
    padding: 4px 10px;
  }
}
