main[role="main-wrapper"]{
	& [role="inner--area"]{
		& .votenow__section{
			margin-top:calc(1 / 1 * 2%);
			padding: calc(1 / 1 * 1%);
			& h2{margin-bottom:calc(1 / 1 * 4%);
			@media(max-width:767px){
				font-size: 20px;
				margin: calc(1 / 1 * 5%) 0;
				margin-bottom: calc(1 / 1 * 12%);
			}
			}
			& [class*="col"]{
				flex-direction:column;
				display:flex;
				padding:0 calc(1 / 1 * 4%);
				margin-bottom:calc(1 / 1 * 7%);
				& >a{
					margin:auto;
					margin-top:30px;
					width:80%;
					box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
					&.btn-danger{
						background:#ed3b12;
					}
				}
			}
		}
	}
}